//Dashboard
$dashboard-background: #f5f5f5 !default;

/* Layouts */
html {
  height: 100%;
}
/* Body Triggers for layout options
------------------------------------------------------------------
*/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-master-lightest;
  -moz-osx-font-smoothing: grayscale;
  &.fixed-header {
    .header {
      position: fixed;
      left: 0;
      top: 0;
      .btn-link {
        cursor: pointer;
      }
    }
    .sub-header {
      position: fixed;
      top: 60px;
      right: 0;
      left: 0;
      text-align: center;
      height: 65px;
      display: none;
      z-index: 500;
      background-color: #fafafa;

      .title-info {
        margin-top: 8px;
      }
      .options {
        width: 150px;
        height: 36px;
      }
    }
  }
  &.no-header {
    .page-container .page-content-wrapper .content {
      padding-top: 0px;
    }
    .header {
      border-bottom-color: transparent;
    }
  }
  &.dashboard {
    background: $dashboard-background;
    .page-container {
      background: $dashboard-background;
    }
  }
  &.menu-pin {
    .overlay {
      padding-left: 0;
      .overlay-brand {
        margin-left: 0;
      }
    }
  }
}

/* Page Container
------------------------------------
*/
.page-container {
  width: 100%;
  height: 100%;
  padding-left: $layout-sidepanel-width-collapsed;
  .page-content-wrapper {
    min-height: 100%;
    position: relative;
    .content {
      /* Content holder */
      z-index: 10;
      padding-top: $layout-header-height;
      padding-bottom: 120px;
      min-height: 100%;
      @include transition(all 0.3s ease);
      &.full-width {
        width: 100%;
      }
      .content-inner {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        padding-left: 30px;
        position: relative;
      }
      &:only-child {
        padding-bottom: 0px;
      }
      &.overlay-footer {
        padding-bottom: 0px;
      }

      .iLoading {
        padding: 10px;
        font-size: 30px;
        color: #2196f3;
      }
    }
    .footer {
      /* Footer */
      width: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      @include transition(left 0.3s ease);
      &.fixed {
        position: fixed;
      }
      .select-lang {
        width: 180px;
      }
    }
  }
}
.page-title {
  margin-top: 0px;
}

.group-container {
  white-space: nowrap !important;
  .single-group {
    vertical-align: top;
    display: inline-block;
    white-space: normal;
  }
}

.jumbotron {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  .inner {
    position: relative;
    z-index: 2;
  }
  &.lg {
    height: 600px;
  }

  background-color: $color-master-lighter;
  .cover-photo {
    width: 100%;
    height: inherit;
    overflow: hidden;
    @include transition(opacity 0.3s ease);
    background-size: cover;
    background-color: $color-success;
  }
  h1 {
    font-size: 44px;
  }
}

/* Other overides */

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.copyright {
  padding: 25px 0;
	border-top: 1px solid #e6e6e6;
  //border-top: 1px solid fade($color-master-light, 70%);
}

.pager {
  margin: 0;
}

@media (max-width: 1200px) {
  body.fixed-header .sub-header {
    background-color: white;
  }
  body.fixed-header .sub-header .options {
    width: 100%;
  }
  body.fixed-header .sub-header > .inline {
    //width: 33%;
  }
}
@media (max-width: 991px) {
  .page-container {
    padding-left: 0;
  }
}

@media (max-width: 520px) {
  .page-container .sub-header .inline {
    display: block !important;
    width: 100%;
    background-color: white;
    padding-right: 10px !important;
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }
  .page-container .page-content-wrapper .content {
    padding-top: 180px !important;
  }
}
