.table {
	margin-bottom: 0;
}
.table+.table {
	margin-top: $gap-vert-default;
}
.table thead > tr > th {
	color: $darkgrey;
	font-weight: normal;
}
.table tbody > tr.selected {
	background-color: #F5F5F5;
}
.table:not(.table-nohover) tbody > tr:hover {
	//background-color: $greynormal;
}
.table.table-border {
	border:1px solid $border-color;
}
.table.table-shadow {
	box-shadow: $table-shadow;
}
.ReactTable {
	.rt-table .rt-thead .rt-th .rt-resizable-header-content {
		padding: 8px;
    line-height: 24px;
		color: $text-color-sub;
	}
	.rt-tbody .rt-tr .rt-td {
		padding: 7px 10px;
		display: flex;
		align-items: center;//flex-start;
	}
	.rt-resizable-header.-cursor-pointer {
		.rt-resizable-header-content:after {
			@extend %extend-material-icons;
			content: 'unfold_more';
			font-size: 18px!important;
			top: 4px;
	    position: relative;
		}
		&.-sort-asc {
			-webkit-box-shadow: inset 0 3px 0 0 $primary;
    	box-shadow: inset 0 3px 0 0 $primary;
		}
		&.-sort-asc .rt-resizable-header-content:after {
			content: 'keyboard_arrow_up';
		}
		&.-sort-desc {
			-webkit-box-shadow: inset 0 -3px 0 0 $primary;
			box-shadow: inset 0 -3px 0 0 $primary;
		}
		&.-sort-desc .rt-resizable-header-content:after {
			content: 'keyboard_arrow_down';
		}
	}
}
